@import './mixins/mixins';

@include b(carousel) {
	background-color: red;
	@include e(container) {
		font-size: 40px;
		@include state(kk) {
			color: yellow;
			@include e(haha) {
				color: green;
			}
		}
	}
}