@import './config';
@import './function';
@mixin b ($block) {
	$B: $namespace + '-' + $block !global;
	.#{$B} {
		@content;
	}
}

@mixin e ($element) {
	$E: $element !global;
	$selector: &;
	@if hitAllRules($selector) {
		$current: '.' + $B + $element-separator + $E;
		@at-root {
			#{&} {
				#{$current} {
					@content;
				}
			}
		}
	} @else {
		$current: & + $element-separator + $E;
		@at-root {
			#{$current} {
				@content;
			}
		}
	}
}

@mixin m ($modifier) {
	$M: $modifier !global;
	$current: & + $modifier-separator + $M;
	@at-root {
		#{$current} {
			@content;
		}
	}
}

@mixin pseudo ($pseudo) {
	@at-root {
		#{&}#{':#{$pseudo}'} {
			@content;
		}
	}
}

@mixin when ($state) {
	$current: $state-prefix + $state;
	@at-root {
		#{&}#{'.#{$current}'} {
			@content;
		}
	}
}